<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788249498803-8vbucdq6bfaduup0letv5gsfhodbrise.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788249498803-8vbucdq6bfaduup0letv5gsfhodbrise</string>
	<key>API_KEY</key>
	<string>AIzaSyBJnu8EnanWsLkI0aoNhuntfPctq3eamn0</string>
	<key>GCM_SENDER_ID</key>
	<string>788249498803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WeInteractive.Monk-Mode</string>
	<key>PROJECT_ID</key>
	<string>monkmode-3bfc0</string>
	<key>STORAGE_BUCKET</key>
	<string>monkmode-3bfc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788249498803:ios:b0c4423565c1ded1aa8cc6</string>
	<key>DATABASE_URL</key>
	<string>https://monkmode-3bfc0-default-rtdb.firebaseio.com</string>
</dict>
</plist>